<div class="container">
  <h1 class="title">Robot Assistant</h1>

  <!-- Camera Feed -->
  <div class="video-container">
    <img #videoElement [src]="videoUrl" alt="Camera Feed" />
  </div>

  <!-- Toggle Obj Detection-->
  <div class="indicator-container">
    <div class="indicator" [class.on]="isDetectionOn" [class.off]="!isDetectionOn"></div>
    <button class = "object-detection-btn" [ngClass]="{'active': isDetectionOn}" (click)="toggleDetection()">{{ isDetectionOn ? 'Stop Detection' : 'Start Detection' }}</button>
  </div>

  <!-- Joystick Section (Below Camera and Button) -->
  <div class="joystick-container">
    <div class="joystick-row">
      <div id="joystick-combined">
        <span class="label">S/D</span>
      </div>
    </div>
    <div class="joystick-row">
      <div id="joystick-joint1">
        <span class="label">J1</span>
      </div>
      <div id="joystick-joint2">
        <span class="label">J2</span>
      </div>
    </div>
</div>
