.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between elements */
  padding: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
  border: 2px solid #fff;
}

/* Joystick Section */
.joystick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  gap: 20px;
}

.joystick-row {
  display: flex;
  justify-content: space-evenly;
  gap: 20px; /* Space between joysticks in a row */
}

#joystick-left, #joystick-right, #joystick-joint1, #joystick-joint2 {
  width: 150px;
  height: 150px;
  position: relative; /* Necessary for absolute positioning of label */
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Label styling */
.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color:#ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adds a shadow for contrast and visibility */
  z-index: 999; /* Ensure label is above joystick */
  pointer-events: none;
}