body {
  background-image: url('../assets/RobotPic.jpg');
  background-size: cover; /* Ensure the image covers the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  height: 100vh; /* Full height */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Optional: Prevent scrolling */
}

.container {
  position: relative;
  z-index: 1;
}

.container::before {
  background-image: url('../assets/RobotPic.jpg');
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1; /* Adjust to control faintness */
  z-index: -1; /* Moves it behind content */
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between elements */
  padding: 20px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: transparent; /* Text is now transparent */
  background: linear-gradient(45deg, #1c687c, #0072ff);
  -webkit-background-clip: text; /* Still supported in WebKit browsers */
  background-clip: text; /* Standard version (only in Chrome and newer versions of Firefox) */
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0;
}



.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 80%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s;
}

.video-container:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

img {
  max-width: 100%;
  height: auto;
  border: 2px solid #fff;
}

/* Joystick Section */
.joystick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  gap: 20px;
}

.joystick-row {
  display: flex;
  justify-content: space-evenly;
  gap: 20px; /* Space between joysticks in a row */
}

#joystick-combined, #joystick-joint1, #joystick-joint2 {
  width: 150px;
  height: 150px;
  position: relative; /* Necessary for absolute positioning of label */
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#joystick-combined:hover,
#joystick-joint1:hover,
#joystick-joint2:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

/* Label styling */
.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color:#ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adds a shadow for contrast and visibility */
  z-index: 999; /* Ensure label is above joystick */
  pointer-events: none;
}